# ── SERVIDOR ──────────────────────────────────
PORT=3000
NODE_ENV=development

# ── BASE DE DATOS ──────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_NAME=magic_film
DB_USER=root
DB_PASSWORD=password_aqui

# ── APIS EXTERNAS ──────────────────────────────
# La Api se obtiene en: https://www.themoviedb.org/settings/api
TMDB_API_KEY=clave_tmdb_aqui
TMDB_BASE_URL=https://api.themoviedb.org/3

# La Api se obtiene en: https://aistudio.google.com
GEMINI_API_KEY=clave_gemini_aqui
GEMINI_MODEL=gemini-1.5-flash

# ── SEGURIDAD (Solo es un ejemplo profe) ──────────────────────────────────
JWT_SECRET=PapiLeonKennedySecretKey
JWT_EXPIRES_IN=7d
